html{
  font-size: 62.5%;
  box-sizing:border-box;
  height: 100%;
}
body{
  font:1.6rem Helvetica;
  height: 100vh;
  margin:0;
}
#root{
  height: 100%
}

.button.primary{
 background-color:#ffffff ;
 color:#f6e4e4;
 border-radius: 1rem;
 padding: 1rem;
 

} 


.button.secondary{
  background-color:#d35252 ;
  color: #ecf0f5;
  padding: 2rem;
  border-radius: 1rem;
 } 
 
.header{
  grid-area: header;
  background-color: #68d391;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.brand img{
  height: 5rem;
}
.header-links a{
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;

}
.header-links a:hover{
  color:#ec0000;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #38a169;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.clear { clear: both; height: 60px; }


a{
  text-decoration:none;

}
a:hover{
  color: #000000;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color:#68d391;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* Forms */

.form{
  display:flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding:2rem;
  border:0.2rem #8f8b8b solid;
  border-radius:1rem;
  list-style-type: none;
  margin-top: 2rem;
}
.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.brand-name{
  font-weight: 900;
  font-size:30px;
  position: absolute;
  margin-top: 1.5rem;
}